registry=https://artifactory.platform.manulife.io/artifactory/api/npm/npm/
_auth = c2hhbm1sYTpBUDhRb25rQmphZG1BQ1hZNXFRc0VHWWFCeA==
email = LakshmiNarayan_Shanmugam@manulife.com
always-auth = true

sass_binary_site = https://artifactory.platform.manulife.io/artifactory/npm-local/node-sass-binaries